/*====================
        Basics
======================*/

body {
    background: #005682;
}

a {
    color: #FFF6CC;
}

a:hover {
    color: #FF9900;
}

h1,
p {
    color: #BADCDD;
}

a h1:hover {
    font-family: 'redactedregular'
}

.button {
    background: #212B40;

}

.button:hover {
    background: #BADCDD;
    color: black;
}

p, h3, a {
    font-family: 'redactedregular';
}


/*=================== 
    index Styling 
======================*/

.gallery .th {
	float: left;
	margin: 0 20px 10px 0;
}

.large-6,
.large-3 {
	-moz-transition: width .25s .1s;
	-webkit-transition: width .25s .1s;
	transition: width .25s .1s;
}

/* Wireframing Font */
@font-face {
    font-family: 'redactedregular';
    src: url('../font/redacted-regular.eot');
    src: url('../font/redacted-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/redacted-regular.woff') format('woff'),
         url('../font/redacted-regular.ttf') format('truetype'),
         url('../font/redacted-regular.svg#redactedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*=======================
            Photo Gallery
==========================*/

img {
    width: 15em;
}

#tp-grid li{
   margin-bottom: 10em;
}

#close {
    background: white;
    margin-top: 5em;
}

#close:hover {
    background: #C2E078;
    color: black;
}

